
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "https://bootswatch.com/4/flatly/bootstrap.min.css";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";


/*  @import 'C:/Users/lux-coder/Documents/bootstrap.min.css';
 @import 'C:/Users/lux-coder/Documents/font-awesome.min.css';
 */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body {
    background-color: #f4f6f6;
  }
  
  a {
    cursor: pointer;
  }
  
  .help-block{
    color: red;
  }
