<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="machine.position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let machine"> {{machine.id}} </td>
        <!-- <td mat-cell *matCellDef="let element"> {{element.machine.id}} </td> -->
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="machine.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let machine"> {{machine.name}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="machine.type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let machine"> {{machine.type}} </td>
    </ng-container>

    <!-- Manufacturer Column -->
    <ng-container matColumnDef="machine.manufacturer">
        <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
        <td mat-cell *matCellDef="let machine"> {{ machine.manufacturer}} </td>
    </ng-container>

    <!-- Resolved Column -->
    <ng-container matColumnDef="failureCount">
        <th mat-header-cell *matHeaderCellDef> Unresolved Failures </th>
        <td mat-cell *matCellDef="let machine">gg </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<mat-toolbar>
    <mat-toolbar-row>
        <div class="container">

            <a class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#addMachine">
                Add Machine
            </a>
        </div>


    </mat-toolbar-row>
</mat-toolbar>




<!-- Add modal -->
<div class="modal fade" id="addMachine" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <form id="cardWraper" [formGroup]="machineForm">
                <mat-card>
                    <mat-card-header formGroupName="machine">
                        <mat-card-title>
                            <mat-form-field>
                                <input matInput required placeholder="Machine Name" formControlName="name">
                            </mat-form-field>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <mat-form-field>
                                <input matInput placeholder="Machine Type" formControlName="type">
                            </mat-form-field>
                        </mat-card-subtitle>
                        <mat-card-subtitle>
                            <mat-form-field>
                                <input matInput placeholder="Machine Manufacturer" formControlName="manufacturer">
                            </mat-form-field>
                        </mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content formArrayName="failures">

                        <div *ngFor="let failure of machineForm.get('failures').controls;
                            let failureIndex = index" [formGroupName]="failureIndex">
                            <mat-form-field appearance="outline">
                                <input matInput #input placeholder="Failure Title" formControlName="title">
                                <mat-hint align="end">Description will be available after 20 chars
                                    {{input.value?.length || 0}}/20</mat-hint>
                            </mat-form-field>
                            <div class="break"></div>

                            <mat-form-field appearance="outline">
                                <textarea matInput placeholder="Failure Description"
                                    formControlName="description"> </textarea>

                            </mat-form-field>

                            <div class="break"></div>

                            <!-- [readonly]="true" 
                        *ngIf="input.value?.length > 20 " 
                      [readonly]="false"
                    
                    -->

                            <mat-form-field>
                                <mat-label> Priority </mat-label>
                                <select matNativeControl required formControlName="priority">
                                    <option value="HIGH"> HIGH </option>
                                    <option value="MEDIUM"> MEDIUM </option>
                                    <option value="LOW"> LOW </option>
                                </select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label> Status </mat-label>
                                <select matNativeControl required formControlName="status">
                                    <option value="true"> Resolved </option>
                                    <option value="false"> Unresolved </option>
                                </select>
                            </mat-form-field>
                            <div class="break"></div>
                            <button type="button" mat-raised-button color="primary"> Upload files</button>
                            <!-- (click)= "addFile()" -->
                            <button mat-raised-button color="accent" (click)="deleteFailure(failureIndex)"> Delete
                                Failure </button>
                        </div>

                    </mat-card-content>




                    <mat-card-actions>
                        <button mat-button class="success" [disabled]="machineForm.invalid" (click)="saveMachine()">
                            Save Machine
                        </button>
                        <button type="button" mat-raised-button color="primary" (click)="addFailure()"> Add Failure
                        </button>
                        <button type="reset" mat-raised-button color="warn" (click)="discard()"> Cancle </button>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
    </div>
</div>