<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let machines"> {{machines.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let machines"> {{machines.name}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let machines"> {{machines.type}} </td>
    </ng-container>

    <!-- Manufacturer Column -->
    <ng-container matColumnDef="manufacturer">
        <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
        <td mat-cell *matCellDef="let machines"> {{machines.manufacturer}} </td>
    </ng-container>

    <!-- Resolved Column -->
    <ng-container matColumnDef="resolved">
        <th mat-header-cell *matHeaderCellDef> Unresolved Failures </th>
        <td mat-cell *matCellDef="let element"> NO </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<mat-toolbar>
    <mat-toolbar-row>
        <div class="container">

            <a class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#addMachine">
                Add Machine
            </a>
        </div>


    </mat-toolbar-row>
</mat-toolbar>




<!-- Add modal -->
<div class="modal fade" id="addMachine" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <form [formGroup]="machineForm">
                <mat-card>
                    <mat-card-header  formGroupName="machine">
                        <mat-card-title>
                            <mat-form-field>
                                <input matInput required placeholder="Machine Name" formControlName="name">
                            </mat-form-field>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <mat-form-field>
                                <input matInput placeholder="Machine Type" formControlName="type">
                            </mat-form-field>
                        </mat-card-subtitle>
                        <mat-card-subtitle>
                            <mat-form-field>
                                <input matInput placeholder="Machine Manufacturer" formControlName="manufacturer">
                            </mat-form-field>
                        </mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content formArrayName="failures">                        
                        <div >
                                
                            <div *ngFor="let failure of machineForm.get('failures').controls;
                                        let failureIndex = index" [formGroupName]="failureIndex">
                                <input matInput placeholder="Failure Title" formControlName="title">
                                <textarea matInput placeholder="Failure Description"
                                    formControlName="description"> </textarea>
                                <mat-form-field>
                                    <mat-label> Priority </mat-label>
                                    <select matNativeControl required formControlName="priority">
                                        <option value="HIGH"> HIGH </option>
                                        <option value="MEDIUM"> MEDIUM </option>
                                        <option value="LOW"> LOW </option>
                                    </select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label> Status </mat-label>
                                    <select matNativeControl required formControlName="status">
                                        <option value="true"> Resolved </option>
                                        <option value="false"> Unresolved </option>
                                    </select>
                                </mat-form-field>
                                <button mat-button (click)="addFailure()"> Add Failure </button>
                                <button mat-button (click)="deleteFailure(failureIndex)"> Delete Failure </button>
                            </div>


                        </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="saveMachine()"> Save Machine </button>
                <button mat-button (click)="discard()"> Cancle </button>
            </mat-card-actions>
            </mat-card>
        </form>
        </div>
    </div>
</div>